@model WebApp.Models.UserProducts



<table class="table">
    <tr>
        <th>
            Product Name
        </th>

        <th>
            Amount
        </th>
        <th>
            Cart
        </th>
        <th>
            Amount you want
        </th>

    </tr>
    @foreach (var i in Model.ProductsV)
    {
        <tr>
            <td>
                @Html.ActionLink(i.Pname, "Details", "Products", new { id = i.Id }, new { @class = "text-capitalize", style = "color: blue;" })
            </td>

            <td>
                @Html.DisplayFor(item => i.Amount)
            </td>
            @if (i != null)
            {
                <td>
                    @Html.ActionLink("Remove", "FromCart", new { controller = "Cart", id = i.Id, name = i.Pname, amount = i.Amount }, new { @class = "btn btn-danger" })
                </td>
                <td class="form-group">
                    @Html.EditorFor(m => m.Bought_Amount, new { htmlAttributes = new { @class = "Bought_Amount", @placeholder = "Amount", @type = "number", @min = "1", @max = i.Amount, @Value = "1" } })
                    <a class="btn btn-success buy-btn">Buy</a>
                    <input type="number" value="@i.Id" class="p_id" hidden />
                </td>
                <td >
                </td>

            }
        </tr>
    }
</table>
