@model WebApp.Models.UserProducts



<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Uploaded at
        </th>
        <th>
            Amount
        </th>
        <th>
            Cart
        </th>
        <th>
            Amount you want
        </th>
        <th>
            Buy
        </th>

    </tr>
    @foreach (var i in Model.ProductsV)
    {
        <tr>
            <td>
                @Html.ActionLink(i.Pname, "Details", "Products", new { id = i.Id }, new { @class="text-capitalize", style="color: blue;" })
            </td>
            <td>
                @Html.DisplayFor(item => i.Pdescription)
            </td>
            <td>
                @Html.DisplayFor(item => i.Created_at)
            </td>
            <td >
                @Html.DisplayFor(item => i.Amount)
            </td>
            @if (i != null)
            { 
                <td>
                    @Html.ActionLink("Remove", "FromCart", new { controller = "Cart", id = i.Id, name = i.Pname, amount = i.Amount }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.EditorFor(m=>m.Bought_Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount", @type="number", @min = "1", @max = i.Amount } })
                </td>
                <td>
                    @Html.ActionLink("Buy", "Buy", "Sold", new {  id = i.Id, amount = Model.Bought_Amount }, new { @class = "btn btn-success" })
                </td>
                
            }
        </tr>
    }
</table>   


