
@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    @Html.ActionLink("Upload a product", "Create", new { controller = "Products" }, new { @class = "btn btn-success " })
    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product description
            </th>
            <th>
                Uploaded at
            </th>
            <th>
                Amount
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pdescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { controller = "Products", id = item.Id }, new {@class="btn btn-default" })
                    @Html.ActionLink("Details", "Details",  new { controller = "Products", id = item.Id }, new {@class="btn btn-default" })
                    @Html.ActionLink("Delete", "Delete",  new { controller = "Products", id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }

    </table>
</div>
