@model WebApp.Models.CompanyProductUpload

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductM.Pname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Name", @required = true } })
            @Html.ValidationMessageFor(model => model.ProductM.Pname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductM.Pdescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Description", @rows = "5" } })
            @Html.ValidationMessageFor(model => model.ProductM.Pdescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductM.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount", @required = true } })
            @Html.ValidationMessageFor(model => model.ProductM.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.BrandM.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Brand Name" } })
            @Html.ValidationMessageFor(model => model.BrandM.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryM.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category Name" } })
            @Html.ValidationMessageFor(model => model.CategoryM.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductModelM.Name , new { htmlAttributes = new { @class = "form-control", @placeholder = "Model" } })
            @Html.ValidationMessageFor(model => model.ProductModelM.Name, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div>
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
