@model WebApp.Models.CompanyProductUpload

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-5 col-md-offset-3">
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        @{
            if (Session["c_id"] != null)
            {
                var id = (int)Session["c_id"];
                if (id == Model.ProductM.Cid)
                {
                    @Html.ActionLink("Edit", "Edit", "Products", new { id = Model.ProductM.Id }, new { @class = "btn btn-primary" })
                }
            }
        }
    </p>

    <div class="well">
        @foreach (var photo in Model.P_photos)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(photo.Photo)" style="width: 700px; height:500px;" />
        }
        <div class="card-body">
            <h3 class="card-title">@Model.ProductM.Pname</h3>
            <div> <strong>Brand: </strong><span class="badge">@Model.BrandM.Name </span>  | <strong>Model: </strong><span class="badge"> @Model.ProductModelM.Name</span> | <strong>Category: </strong><span class="badge"> @Model.CategoryM.Name</span> </div>

            @Html.ActionLink("Add to cart", "ToCart", "Cart", new { id = Model.ProductM.Id }, new { @class = "badge badge-big" })
            <h4>$24.99</h4>
            <p class="card-text"> @Model.ProductM.Pdescription </p>
            <span class="text-warning">★ ★ ★ ★ ☆</span>
            4.0 stars
        </div>
        <hr />
        <div class="well">
            <div class="card card-outline-secondary my-4">
                <h3 class="card-header">
                    Product Reviews
                </h3>
                <div class="card-body">
                    @foreach (var c in Model.P_Comments)
                    {
                        if (c.State != 0)
                        {
                            <p> @c.Description </p>
                            <small class="text-muted">Posted by<span class="comment"> @c.U_id </span> </small>
                            if (Session["u_id"] != null)
                            {
                                if (c.U_id == (int)Session["u_id"])
                                {
                                    <!--
                                    <button class="btn btn-primary btn-xs comment-edit">Edit</button>
                                    <textarea class="comment-area"></textarea>
                                        -->
                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = c.Id }, new { @class = "btn btn-danger btn-xs" })
                                }
                            }
                            <hr>
                        }
                    }

                    @if (Session["u_id"] != null)
                    {
                        using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.P_Comment.Description, 10, 60, new { htmlAttributes = new { @class = "form-control", @placeholder = "Comment" } })
                                    @Html.ValidationMessageFor(model => model.P_Comment.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ProductM.Id)
                            <div class="form-group">
                                <input type="submit" value="Leave a Reaview" class="btn btn-success" />
                            </div>
                        }
                    }

                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
<!--
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $('.comment-area').hide();
        $('.comment-btn').hide();
        $('.comment-edit').click(function () {
            var text = $('.comment').val();
            $('.comment-area').show();
            $('.comment-btn').show();
            $('.comment-area').val(text);
            $('.comment-edit').hide();
        });
    });
</script>

    -->
