@model WebApp.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pname)
        </dd>

        <dt>
            Product Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdescription)
        </dd>

        <dt>
            Uploaded at
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @{
        if (Session["c_id"] != null )
        {
            var id = (int)Session["c_id"];
            if (id == Model.Cid)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            }
        }
    }
    @Html.ActionLink("Back to List", "Index",null, new { @class="btn btn-info" })
</p>
