@model WebApp.Models.ProductsView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["c_id"] != null)
{
    @Html.ActionLink("Upload a Product", "Create", "Products", null, new { @class = "btn btn-success" })
}

<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Company id
        </th>
        <th>
            Uploaded at
        </th>
        <th>
            Amount
        </th>

        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Category
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        if (item.Amount != 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pdescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @foreach (var b in Model.Product_b)
                    {
                        if (b.P_id == item.Id)
                        {
                            @Html.DisplayFor(modelItem => b.Name)
                        }
                    }
                </td>
                <td>
                    @foreach (var m in Model.Product_m)
                    {
                        if (m.P_id == item.Id)
                        {
                            @Html.DisplayFor(modelItem => m.Name)
                        }
                    }
                </td>
                <td>
                    @foreach (var b in Model.Product_b)
                    {
                        foreach (var c in Model.Product_c)
                        {
                            if (c.Brand_id == b.Id)
                            {
                                @Html.DisplayFor(modelItem => c.Name)
                            }
                        }
                    }
                </td>

                <td>
                    @{
                        if (Session["c_id"] != null)
                        {
                            var session_id = (int)Session["c_id"];
                            if (session_id == item.Cid)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            }
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Add to cart", "ToCart", "Cart", new { id = item.Id }, null)
                </td>
            </tr>

        }

    }

</table>
<div class="row">
    @foreach (var i in Model.Products)
    {
        if (i.Amount != 0)
        {
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail ">
                    <img src="..." alt="..." class="t-img">
                    @Html.ActionLink("Add to cart", "ToCart", "Cart", new { id = i.Id }, new { @class = "badge " })
                    <div class="caption">
                        <div>
                            <strong>
                                @Html.ActionLink(i.Pname, "Details", "Products", new { id = i.Id}, null)
                            </strong>
                        </div>

                        <sub>
                            @Html.Label("Amount: ") @Html.DisplayFor(modeli => i.Amount)
                            @foreach (var b in Model.Product_b)
                            {
                                if (b.P_id == i.Id)
                                {
                                    @Html.Label("| Brand: ")
                                    @Html.DisplayFor(modelItem => b.Name)
                                }
                            }
                            <br />
                            @foreach (var b in Model.Product_b)
                            {
                                if (b.P_id == i.Id)
                                {
                                    @Html.Label("Model: ")
                                    @Html.DisplayFor(modelItem => b.Name)
                                }
                            }
                        </sub>
                    </div>
                    <p class="t-description">
                        @Html.DisplayFor(modeli => i.Pdescription)
                    </p>
                    <sub>
                        Uploaded at: @Html.DisplayFor(modeli => i.Created_at)
                    </sub>
                    @{
                        if (Session["c_id"] != null)
                        {
                            var s_id = (int)Session["c_id"];
                            if (s_id == i.Cid)
                            {
                                <hr />
                                <span>
                                    @Html.ActionLink("Edit", "Edit", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                    @Html.ActionLink("Details", "Details", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                    @Html.ActionLink("Delete", "Delete", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                </span>
                            }
                        }
                    }
                </div>
            </div>

        }
    }
</div>

