@model WebApp.Models.ProductsView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["c_id"] != null)
{
    @Html.ActionLink("Upload a Product", "Create", "Products", null, new { @class = "btn btn-success" })
}
<div class="row">
    @foreach (var i in Model.Products)
    {
        if (i.Amount != 0 && i.Status != 0)
        {
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail ">
                    
                    @foreach (var photo in Model.P_Photos)
                    {
                        if(i.Id == photo.P_id)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(photo.Photo)"  style="width: 280px; height:220px;"/>
                        }
                    }
                    @Html.ActionLink("Add to cart", "ToCart", "Cart", new { id = i.Id }, new { @class = "badge " })
                    <div class="caption">
                        <div>
                            <strong>
                                @Html.ActionLink(i.Pname, "Details", "Products", new { id = i.Id }, null)
                            </strong>
                        </div>

                        <sub>

                            @Html.Label("Amount: ") @Html.DisplayFor(modeli => i.Amount)

                            @foreach (var b in Model.Product_b)
                            {
                                if (b.Id == i.B_id)
                                {
                                    @Html.Label("| Brand: ")
                                    @Html.DisplayFor(modelItem => b.Name)
                                }
                            }
                            <br />
                            @foreach (var m in Model.Product_m)
                            {
                                if (m.Id == i.M_id)
                                {
                                    @Html.Label("Model: ")
                                    @Html.DisplayFor(modelItem => m.Name)
                                }
                            }
                        </sub>
                    </div>
                    <p class="t-description">
                        @Html.DisplayFor(modeli => i.Pdescription)
                    </p>
                    <sub>
                        Uploaded at: @Html.DisplayFor(modeli => i.Created_at)
                    </sub>
                    @{
                        if (Session["c_id"] != null)
                        {
                            var s_id = (int)Session["c_id"];
                            if (s_id == i.Cid)
                            {
                                <hr />
                                <span>
                                    @Html.ActionLink("Edit", "Edit", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                    @Html.ActionLink("Details", "Details", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                    @Html.ActionLink("Delete", "Delete", new { id = i.Id }, new { @class = "btn btn-info btn-xs" })
                                </span>
                            }
                        }
                    }
                </div>
            </div>

        }
    }
</div>

