@model WebApp.Models.ProductsView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button class="btn btn-info">
    @Html.ActionLink("Create New", "Create", "Products")
</button>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Company id
        </th>
        <th>
            Uploaded at
        </th>
        <th>
            Amount
        </th>

        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Category
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>  
            <td>
                @foreach (var b in Model.Product_b)
                {
                    if (b.P_id == item.Id)
                    {
                        @Html.DisplayFor(modelItem => b.Name)
                    }
                }
            </td>
            <td>
                @foreach (var m in Model.Product_m)
                {
                    if (m.P_id == item.Id)
                    {
                        @Html.DisplayFor(modelItem => m.Name)
                    }
                }
            </td>
            <td>
                @foreach (var b in Model.Product_b)
                {
                    foreach (var c in Model.Product_c)
                    {
                        if (c.Brand_id == b.Id)
                        {
                            @Html.DisplayFor(modelItem => c.Name)
                        }
                    }
                }
            </td>
    
            <td>
                @{
                    if (Session["c_id"] != null)
                    {
                        var session_id = (int)Session["c_id"];
                        if (session_id == item.Cid)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                            @Html.ActionLink("Details", "Details", new { id = item.Id });
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                        }
                    }
                }
            </td>
        </tr>

    }

</table>
<div class="row">
    @foreach (var i in Model.Products)
    {
        <div class="col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modeli => i.Pname)
                    </h3>
                    <sub>
                        Amount: @Html.DisplayFor(modeli => i.Amount)
                    </sub>
                    <p>
                        @Html.DisplayFor(modeli => i.Pdescription)
                    </p>
                </div>
                <sub>
                    Uploaded at: @Html.DisplayFor(modeli => i.Created_at)
                </sub>
                <hr />
                <span>
                    @{
                        if (Session["c_id"] != null)
                        {
                            var session_id = (int)Session["c_id"];
                            if (session_id == i.Cid)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = i.Id });
                                @Html.ActionLink("Details", "Details", new { id = i.Id });
                                @Html.ActionLink("Delete", "Delete", new { id = i.Id });
                            }
                        }
                    }
                </span>
            </div>
        </div>
    }
</div>
