@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible show" role="alert">
        @TempData["Error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<button class="btn btn-info">
    @Html.ActionLink("Create New", "Create")
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @{
                    if (Session["c_id"] != null)
                    {
                        var session_id = (int)Session["c_id"];
                        if (session_id == item.Cid)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                            @Html.ActionLink("Details", "Details", new { id = item.Id });
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                        }
                    }
                }
            </td>
        </tr>

    }

</table>
<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modeli => i.Pname)
                    </h3>
                    <sub>
                        Amount: @Html.DisplayFor(modeli => i.Amount)
                    </sub>
                    <p>
                        @Html.DisplayFor(modeli => i.Pdescription)
                    </p>
                </div>
                <sub>
                    Uploaded at: @Html.DisplayFor(modeli => i.Created_at)
                </sub>
                <hr />
                <span>
                    @{
                        if (Session["c_id"] != null)
                        {
                            var session_id = (int)Session["c_id"];
                            if (session_id == i.Cid)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = i.Id });
                                @Html.ActionLink("Details", "Details", new { id = i.Id });
                                @Html.ActionLink("Delete", "Delete", new { id = i.Id });
                            }
                        }
                    }
                </span>
            </div>
        </div>
    }
</div>
