@model WebApp.Models.UserProducts
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-user"></i> Profile
            </h3>
        </div>
        <div class="panel-body">
            <div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        @if (Model.UserV.Avatar != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.UserV.Avatar)" class="img-circle user-avatar" />
                        }
                    </div>
                    <div class="col-md-7">
                        <dl >
                            <dt>
                                First Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserV.Fname)
                            </dd>

                            <dt>
                                Last Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserV.Lname)
                            </dd>

                            <dt>
                                Mobile NO.
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserV.Tel)
                            </dd>

                            <dt>
                                Email Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserV.Email)
                            </dd>

                            <dt>
                                Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserV.Address)
                            </dd>

                        </dl>
                    </div>
                </div>
                <p class="col-md-offset-1">
                    <button class="btn btn-default top10">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.UserV.Id })
                    </button>
                    <button class="btn btn-danger top10 p-delete-btn">
                        @Html.ActionLink("Delete", "Delete", "Users", new { id = Model.UserV.Id }, null)
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-shopping-cart"></i> Your Cart
            </h3>
        </div>
        <div class="panel-body" id="cart-view">
            @if (Model.ProductsV != null)
            {
                <div >
                    @Html.Partial("~/Views/Products/_Cart.cshtml", Model)
                </div>
            }
            else
            {
                <p>You have not added any product yet...</p>
            }
        </div>
    </div>
</div>

<div id="history-view">
    @Html.Partial("~/Views/Shared/_History.cshtml", Model)
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    var MyAppUrl = {
        MyUrl: '@Url.Action("Buy","Sold")'
    };

    $('.buy-btn').click(function () {
        var $a = $(this);
        var p_id = $a.siblings('.p_id').val();
        var amount = $a.siblings('.Bought_Amount').val();
        alert(p_id + ", " + amount);

        $.ajax({
            type: "POST",
            url: MyAppUrl.MyUrl,
            data: JSON.stringify({ p_id: p_id, amount: amount }),
            contentType: "application/json",

            success: function (res) {
                $('#cart-view').html(res);
            }
        });
    });



    var MyAppUFromCart = {
        MyUrl: '@Url.Action("FromCart","Cart")'
    };
    $('.remove-btn').click(function () {
        var $a = $(this);
        var p_id = $a.siblings('.p_id').val();
        var amount = $a.siblings('.p_amount').val();
        var name = $a.siblings('.p_name').val();

        $.ajax({
            type: "POST",
            url: MyAppUFromCart.MyUrl,
            data: JSON.stringify({ id: p_id, name: name, amount: amount }),
            contentType: "application/json",

            success: function (res) {
                $('#cart-view').html(res);
            }
        });
    });

    $('.p-delete-btn').click(function () {
        alert("Are you sure, you want to delete your profile ?");
    });
</script>