@model WebApp.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            @if (Model.Avatar != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Avatar)" class="img-circle user-avatar" />
            }
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    <p class="col-md-offset-1">
        <button class="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </button>
        <button class="btn btn-default">
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </button>
    </p>
</div>
    
