@model WebContract.CompanyContract

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" col-md-3 col-md-offset-9">
    <div class="well well login">

        @using (Html.BeginForm("Edit", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 align="center">Sign up as a Company</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        @Html.EditorFor(model => model.Cname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = true } })
                        @Html.ValidationMessageFor(model => model.Cname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        @Html.EditorFor(model => model.Ctel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile No." } })
                        @Html.ValidationMessageFor(model => model.Ctel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        @Html.EditorFor(model => model.Caddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                        @Html.ValidationMessageFor(model => model.Caddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = true } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @required = true } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <label class="btn btn-default">
                            Profile Photo
                            <input accept=".png,.jpg,.jpeg,.gif,.tif" id="Avatar" name="Avatar" type="file" hidden>
                        </label>
                        @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
