@model WebApp.Models.CompanyProductView

@{
    /**/

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-industry"></i> Profile
            </h3>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                @if (Model.CompanyView.Avatar != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.CompanyView.Avatar)" class="img-circle user-avatar" />
                }
            </div>
            <div class="col-md-6">
                <dl >
                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyView.Cname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyView.Cname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyView.Ctel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyView.Ctel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyView.Caddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyView.Caddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyView.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyView.Email)
                    </dd>

                </dl>

            </div>
        </div>
        @if (Model.CompanyView.Id == (int)Session["c_id"])
        {
            <div class="col-md-offset-1">
                @Html.ActionLink("Edit", "Edit", "Companies", new { id = Model.CompanyView.Id }, new { @class = "btn btn-default top10" })
                <button class="btn btn-danger top10 p-delete-btn">
                    @Html.ActionLink("Delete", "Delete", "Companies", new { id = Model.CompanyView.Id }, null)
                </button>

            </div>
        }
    </div>
    <hr />
    @Html.Partial("~/Views/Products/_Company_p.cshtml", Model.ProductView)
</div>

@if (Model.CompanyView.Id == (int)Session["c_id"])
{
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Sold Products History
                </h3>
            </div>
            <div class="panel-body">
                @if (Model.Sold_Prod != null)
                {
                    <table class="table">
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Bought Date
                            </th>
                        </tr>
                        @foreach (var i in Model.Sold_Prod)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(i.P_name, "Details", new { controller = "Products", id = i.P_id }, new { @class = "btn btn-info" })
                                </td>
                                <td>
                                    @Html.DisplayFor(item => i.Date)
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>There isn't any record avaiable now...</p>
                }
            </div>
        </div>
    </div>
}

<script>
    $('.p-delete-btn').click(function () {
        alert("Are you sure, you want to delete your profile ?");
    });

    $('.product-delete-btn').click(function () {
        alert("Are you sure, you want to delete this product ?");
    });
</script>




