@model WebApp.Models.CompanyProductView

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyView.Cname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyView.Cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyView.Ctel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyView.Ctel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyView.Caddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyView.Caddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyView.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyView.Email)
        </dd>

    </dl>
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyView.Id })
        </button>
        <button class="btn btn-default">
            @Html.ActionLink("Delete", "Delete", new { id = Model.CompanyView.Id})
        </button>
        <button class="btn btn-info">
            @Html.ActionLink("Upload a product", "Create", "Products")
        </button>
    </p>
</div>
<hr />

@Html.Partial("~/Views/Products/_Company_p.cshtml", Model.ProductView);




