<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shoppin", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["name"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["name"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (Session["u_id"] != null)
                                {
                                    @Html.ActionLink("Profile", "Profile", new { controller = "Users", id = (int)Session["u_id"] }, new { @class = "dropdown-item" })
                                }
                                @if (Session["c_id"] != null)
                                {
                                    @Html.ActionLink("Profile", "Profile", "Companies", new { id = (int)Session["c_id"] }, null)
                                }
                                <br />
                                @if (Session["c_id"] != null || Session["u_id"] != null)
                                {
                                    @Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "dorpdown-item" })
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign up
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (Session["u_id"] == null && Session["c_id"] == null)
                                {
                                    @Html.ActionLink("Sign up", "Signup", new { controller = "Users" }, new { @class = "dropdown-item" })
                                }
                                <br />
                                @if (Session["c_id"] == null && Session["u_id"] == null)
                                {
                                    @Html.ActionLink("Sign up as Company", "Signup", new { controller = "Companies" }, new { @class = "dropdown-item" })
                                }
                            </div>
                        </li>
                        <li>
                            @if (Session["u_id"] == null && Session["c_id"] == null)
                            {
                                @Html.ActionLink("Login", "Index", "Account")
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible show" role="alert">
                @TempData["Error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
