<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shoppin", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["name"] != null)
                    {
                        <li class="dropdown">
                            <a class="btn btn-default dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Session["c_id"] != null)
                                {
                                    <span class="fa fa-industry"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-user"></span>
                                }
                                @Session["name"]
                                <spn class="glyphicon glyphicon-chevron-down"></spn>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" , role="menu">
                                @if (Session["u_id"] != null)
                                {
                                    <li class="dropdown-item text-center ">
                                        @Html.ActionLink("Profile", "Profile", new { controller = "Users", id = (int)Session["u_id"] }, new { @class = "btn btn-success" })
                                    </li>
                                }
                                else if (Session["c_id"] != null)
                                {
                                    <li class="dropdown-item text-center ">
                                        @Html.ActionLink("Profile", "Profile", "Companies", new { id = (int)Session["c_id"] }, new { @class = "btn btn-success" })
                                    </li>
                                }
                                @if (Session["c_id"] != null || Session["u_id"] != null)
                                {
                                    <li class="dropdown-item text-center ">
                                        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = " btn btn-danger" })
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="btn btn-default dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign up
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" role="menu">
                                @if (Session["u_id"] == null && Session["c_id"] == null)
                                {
                                    <li class="dropdown-item text-capitalize text-center">
                                        @Html.ActionLink("Sign up", "Signup", new { controller = "Users" }, new { @class = "btn btn-info" })
                                    </li>
                                }
                                @if (Session["c_id"] == null && Session["u_id"] == null)
                                {
                                    <li class="dropdown-item text-capitalize text-center">
                                        @Html.ActionLink("Sign up as Company", "Signup", new { controller = "Companies" }, new { @class = "btn btn-info" })
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            @if (Session["u_id"] == null && Session["c_id"] == null)
                            {
                                @Html.ActionLink("Login", "Index", new { controller = "Account" }, new { @class = "btn btn-default" })
                            }
                        </li>
                    }
                    @if (Session["c_id"] == null)
                    {
                        if (Session["u_id"] != null)
                        {
                            <li>
                                @Html.ActionLink("Cart", "Profile", new { controller = "Users", id = (int) Session["u_id"] }, new { @class = "btn btn-default glyphicon glyphicon-shopping-cart" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Cart", "Cart", new { controller = "Cart" }, new { @class = "btn btn-default glyphicon glyphicon-shopping-cart" })
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (TempData["Error"] != null)
            {
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-danger alert-dismissible show" role="alert">
                        @TempData["Error"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-success alert-dismissible show" role="alert">
                        @TempData["Success"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        @TempData["Warning"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            }
        </div>


        <div >
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
